<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecondPro 관리자 콘솔</title>
    <link rel="stylesheet" th:href="@{/css/admin/admin-dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/cookie-consent.css}">
    <!-- Toast UI -->
    <link rel="stylesheet"
          href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css">
</head>
<body>
<div class="admin-shell">
    <th:block th:replace="~{admin/fragments/admin-sidebar :: sidebar}"></th:block>

    <main class="admin-main">
        <th:block th:replace="~{admin/fragments/admin-topbar :: topbar}"></th:block>
        <th:block th:replace="~{admin/fragments/admin-flash :: flash}"></th:block>
        <th:block th:replace="~{admin/fragments/admin-dashboard-view :: dashboardView}"></th:block>
        <th:block th:replace="~{admin/fragments/admin-member-view :: memberManageView}"></th:block>
        <th:block th:replace="~{admin/fragments/admin-member-edit-view :: memberEditView}"></th:block>
        <th:block th:replace="~{admin/fragments/admin-chat-view :: chatManageView}"></th:block>
        <th:block th:replace="~{admin/fragments/admin-chat-room-view :: chatRoomView}"></th:block>
        <th:block th:replace="~{admin/fragments/admin-board-view :: boardManageView}"></th:block>
        <th:block th:replace="~{admin/fragments/admin-board-form-view :: boardFormView}"></th:block>
        <th:block th:replace="~{admin/fragments/admin-board-detail-view :: boardDetailView}"></th:block>
        <th:block th:replace="~{admin/fragments/admin-visit-view :: visitManageView}"></th:block>
        <th:block th:replace="~{admin/fragments/admin-service-view :: serviceManageView}"></th:block>
    </main>
</div>

<th:block th:replace="~{admin/fragments/admin-modals :: adminProfileModal}"></th:block>
<th:block th:replace="~{admin/fragments/admin-modals :: memberDetailModal}"></th:block>


<!-- Toast UI Editor -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="https://uicdn.toast.com/editor/latest/i18n/ko-kr.js"></script>
<script th:src="@{/js/board/board-editor.js}"></script>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:src="@{/js/common/address-search.js}"></script>
<script th:src="@{/js/admin/admin-ui-core.js}"></script>
<script th:src="@{/js/admin/admin-dashboard-visual.js}"></script>
<script th:src="@{/js/admin/admin-modal.js}"></script>
<script th:src="@{/js/admin/admin-selection.js}"></script>
<script th:src="@{/js/admin/admin-delete.js}"></script>
<script th:src="@{/js/admin/admin-member-actions.js}"></script>
<script th:src="@{/js/admin/admin-session-guard.js}"></script>
<script th:src="@{/js/admin/admin-browser-notification.js}"></script>
<script th:src="@{/js/admin/admin-chat-realtime.js}"></script>
<script th:src="@{/js/admin/admin-sidebar-state.js}"></script>
<script th:src="@{/js/admin-dashboard.js}"></script>
<script th:if="${activeView == 'chatRoom' and chatRoom != null}" th:inline="javascript">
    const roomNo = /*[[${chatRoom.roomNo}]]*/ 0;
    const senderNo = /*[[${loginUser.no}]]*/ 0;
    const loginRole = /*[[${loginUser.role}]]*/ "ADMIN";
    const roomUserNo = /*[[${chatRoom.userNo}]]*/ 0;
    const roomStatus = /*[[${chatRoom.status}]]*/ "OPEN";
</script>
<script th:if="${activeView == 'chatRoom' and chatRoom != null}" th:src="@{/js/chat.js}"></script>
<script th:src="@{/js/cookie-consent.js}"></script>
</body>
</html>
