<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" href="/css/cookie-consent.css">
</head>

<body>
<div class="page-wrap">
    <div class="login-box">
        <h1 class="page-title">로그인</h1>

        <div th:if="${param.signup}" class="message-box message-success">
            회원가입이 완료되었습니다. 로그인하세요.
        </div>

        <div th:if="${param.error}" class="message-box message-error">
            아이디 또는 비밀번호가 올바르지 않습니다.
        </div>

        <div th:if="${param.logout}" class="message-box message-info">
            로그아웃되었습니다.
        </div>

        <form th:action="@{/member/login}" method="post" autocomplete="off" data-password-autocomplete-form>
            <div class="form-group">
                <label class="form-label" for="memberId">아이디</label>
                <input id="memberId"
                       type="text"
                       name="memberId"
                       class="form-input"
                       autocomplete="off"
                       data-autocomplete-allowed="username">
            </div>

            <div class="form-group">
                <label class="form-label" for="password">비밀번호</label>
                <input id="password"
                       type="password"
                       name="password"
                       class="form-input"
                       autocomplete="off"
                       data-autocomplete-allowed="current-password">
            </div>

            <button type="submit" class="submit-button">로그인</button>
        </form>

        <!-- 소셜 로그인 추가 -->
        <div class="social-divider">
            <span>또는 소셜 계정으로 로그인</span>
        </div>

        <div class="social-login-wrap">
            <a th:href="@{/oauth2/authorization/kakao}" class="social-button-link">
                <img th:src="@{/images/kakao_login_medium_wide.png}" alt="카카오 로그인" class="social-button-img">
            </a>

            <a th:href="@{/oauth2/authorization/naver}" class="social-button-link">
                <img th:src="@{/images/NAVER_login_Light_KR_green_wide_H56.png}" alt="네이버 로그인" class="social-button-img">
            </a>
        </div>
        <div class="bottom-link">
            <a th:href="@{/member/signup}">회원가입</a>
        </div>
    </div>
</div>

    <script src="/js/cookie-consent.js"></script>
</body>
</html>