<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.siyan1234.itproject2nd.board.dao.BoardDao">

    <select id="findAll" resultType="BoardDto">
        SELECT
        b.no,
        b.writer_no,
        b.guest_author_no,
        b.category,
        b.answer_status,
        b.title,
        b.content,
        b.view_count,
        b.created_date,
        b.modified_date,
        m.name AS writer_name,
        m.nickname AS writer_nickname,
        g.guest_name,
        (
        SELECT COUNT(*)
        FROM board_comment bc
        WHERE bc.board_no = b.no
        ) AS answer_count
        FROM board b
        LEFT JOIN member m
        ON b.writer_no = m.no
        LEFT JOIN guest_author g
        ON b.guest_author_no = g.no
        ORDER BY b.no DESC
    </select>

    <select id="findByNo"
            parameterType="long"
            resultType="BoardDto">

        SELECT
        b.no,
        b.writer_no,
        b.guest_author_no,
        b.category,
        b.answer_status,
        b.title,
        b.content,
        b.view_count,
        b.created_date,
        b.modified_date,
        m.name AS writer_name,
        m.nickname AS writer_nickname,
        g.guest_name,
        (
        SELECT COUNT(*)
        FROM board_comment bc
        WHERE bc.board_no = b.no
        ) AS answer_count
        FROM board b
        LEFT JOIN member m
        ON b.writer_no = m.no
        LEFT JOIN guest_author g
        ON b.guest_author_no = g.no
        WHERE b.no = #{no}

    </select>

    <insert id="insert" parameterType="BoardDto">
        INSERT INTO board (
        writer_no,
        guest_author_no,
        category,
        title,
        content,
        answer_status
        )
        VALUES (
        #{writerNo, jdbcType=NUMERIC},
        #{guestAuthorNo, jdbcType=NUMERIC},
        #{category, jdbcType=VARCHAR},
        #{title, jdbcType=VARCHAR},
        #{content, jdbcType=CLOB},
        #{answerStatus, jdbcType=VARCHAR}
        )
    </insert>

    <select id="findByCategory"
            parameterType="string"
            resultType="BoardDto">

        SELECT
        b.no,
        b.writer_no,
        b.guest_author_no,
        b.category,
        b.answer_status,
        b.title,
        b.content,
        b.view_count,
        b.created_date,
        b.modified_date,
        m.name AS writer_name,
        m.nickname AS writer_nickname,
        g.guest_name,
        (
        SELECT COUNT(*)
        FROM board_comment bc
        WHERE bc.board_no = b.no
        ) AS answer_count
        FROM board b
        LEFT JOIN member m
        ON b.writer_no = m.no
        LEFT JOIN guest_author g
        ON b.guest_author_no = g.no
        WHERE b.category = #{category}
        ORDER BY b.no DESC

    </select>


    <!-- 게시글 검색 -->
    <select id="search"
            parameterType="string"
            resultType="BoardDto">

        SELECT
        b.no,
        b.writer_no,
        b.guest_author_no,
        b.category,
        b.answer_status,
        b.title,
        b.content,
        b.view_count,
        b.created_date,
        b.modified_date,
        m.name AS writer_name,
        m.nickname AS writer_nickname,
        g.guest_name,
        (
        SELECT COUNT(*)
        FROM board_comment bc
        WHERE bc.board_no = b.no
        ) AS answer_count
        FROM board b
        LEFT JOIN member m
        ON b.writer_no = m.no
        LEFT JOIN guest_author g
        ON b.guest_author_no = g.no
        WHERE (
        b.title LIKE '%' || #{keyword} || '%'
        OR m.nickname LIKE '%' || #{keyword} || '%'
        OR g.guest_name LIKE '%' || #{keyword} || '%'
        )
        ORDER BY b.no DESC

    </select>


    <select id="searchByCategory"
            resultType="BoardDto">

        SELECT
        b.no,
        b.writer_no,
        b.guest_author_no,
        b.category,
        b.answer_status,
        b.title,
        b.content,
        b.view_count,
        b.created_date,
        b.modified_date,

        -- 회원 작성자 정보
        m.name AS writer_name,
        m.nickname AS writer_nickname,

        -- 비회원 작성자 이름
        g.guest_name,

        -- 게시글 답변 개수
        (
        SELECT COUNT(*)
        FROM board_comment bc
        WHERE bc.board_no = b.no
        ) AS answer_count

        FROM board b

        -- 회원 작성자 연결
        LEFT JOIN member m
        ON b.writer_no = m.no

        -- 비회원 작성자 연결
        LEFT JOIN guest_author g
        ON b.guest_author_no = g.no

        WHERE b.category = #{category}
        AND (
        b.title LIKE '%' || #{keyword} || '%'
        OR b.content LIKE '%' || #{keyword} || '%'
        )

        ORDER BY b.no DESC

    </select>


    <!-- 카테고리별 게시글 개수 조회 -->
    <select id="countByCategory"
            parameterType="string"
            resultType="int">

        SELECT COUNT(*)
        FROM board
        WHERE category = #{category}

    </select>

    <!-- 카테고리별 게시글 페이징 조회 -->
    <select id="findPageByCategory"
            resultType="BoardDto">

        SELECT *
        FROM (
        SELECT
        ROWNUM AS rn,
        board_data.*
        FROM (
        SELECT
        b.no,
        b.writer_no,
        b.guest_author_no,
        b.category,
        b.answer_status,
        b.title,
        b.content,
        b.view_count,
        b.created_date,
        b.modified_date,

        -- 회원 작성자 정보
        m.name AS writer_name,
        m.nickname AS writer_nickname,

        -- 비회원 작성자 이름
        g.guest_name,

        -- 게시글 답변 개수
        (
        SELECT COUNT(*)
        FROM board_comment bc
        WHERE bc.board_no = b.no
        ) AS answer_count

        FROM board b

        -- 회원 작성자 연결
        LEFT JOIN member m
        ON b.writer_no = m.no

        -- 비회원 작성자 연결
        LEFT JOIN guest_author g
        ON b.guest_author_no = g.no

        WHERE b.category = #{category}

        ORDER BY b.no DESC
        ) board_data

        WHERE ROWNUM &lt;= #{endRow}
        )

        WHERE rn &gt;= #{startRow}

    </select>



    <!-- 게시글 전체 개수 조회 -->
    <select id="countAll" resultType="int">
        SELECT COUNT(*)
        FROM board
    </select>


    <!-- 게시글 전체 페이징 조회 -->
    <select id="findPage"
            resultType="BoardDto">

        SELECT *
        FROM (
        SELECT
        ROWNUM AS rn,
        board_data.*
        FROM (
        SELECT
        b.no,
        b.writer_no,
        b.guest_author_no,
        b.category,
        b.answer_status,
        b.title,
        b.content,
        b.view_count,
        b.created_date,
        b.modified_date,

        -- 회원 작성자 정보
        m.name AS writer_name,
        m.nickname AS writer_nickname,

        -- 비회원 작성자 이름
        g.guest_name,

        -- 게시글 답변 개수
        (
        SELECT COUNT(*)
        FROM board_comment bc
        WHERE bc.board_no = b.no
        ) AS answer_count

        FROM board b

        -- 회원 작성자 연결
        LEFT JOIN member m
        ON b.writer_no = m.no

        -- 비회원 작성자 연결
        LEFT JOIN guest_author g
        ON b.guest_author_no = g.no

        ORDER BY b.no DESC
        ) board_data

        WHERE ROWNUM &lt;= #{endRow}
        )

        WHERE rn &gt;= #{startRow}

    </select>


    <update id="increaseViewCount" parameterType="long">
        UPDATE board
        SET view_count = view_count + 1
        WHERE no = #{no}
    </update>

    <update id="update" parameterType="BoardDto">
        UPDATE board
        SET
        category = #{category},
        title = #{title},
        content = #{content},
        modified_date = SYSTIMESTAMP
        WHERE no = #{no}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM board
        WHERE no = #{no}
    </delete>

    <!-- 게시글 답변 상태 변경 -->
    <update id="updateAnswerStatus">
        UPDATE board
        SET answer_status = #{answerStatus}
        WHERE no = #{boardNo}
    </update>

    <!-- 게시글에 등록된 답변 개수 조회 -->
    <select id="countCommentsByBoardNo"
            parameterType="long"
            resultType="int">

        SELECT COUNT(*)
        FROM board_comment
        WHERE board_no = #{boardNo}

    </select>

    <update id="refreshAnswerStatus">
        UPDATE board b
        SET (
        b.answer_status,
        b.answered_date
        ) = (
        SELECT
        CASE
        WHEN COUNT(bc.no) > 0
        THEN 'ANSWERED'
        ELSE 'WAITING'
        END,
        MAX(bc.created_date)
        FROM board_comment bc
        WHERE bc.board_no = b.no
        )
        WHERE b.no = #{boardNo}
        AND b.category = 'QUESTION'
    </update>


</mapper>