<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.siyan1234.itproject2nd.member.dao.MemberDao">

    <select id="findByMemberId" parameterType="String" resultType="MemberDto">
        SELECT no,
        member_id,
        password,
        name,
        nickname,
        email,
        phone,
        birth_date,
        gender,
        postcode,
        address,
        detail_address,
        role,
        profile_image,
        last_login_date,
        agree_terms_yn,
        agree_privacy_yn,
        regdate
        FROM member
        WHERE member_id = #{memberId}
        <!-- #{memberId}는 Dao에서 @Param("memberId")로 넘긴 값 -->
    </select>

    <select id="findByEmail" parameterType="String" resultType="MemberDto"> <!-- 이메일 중복 확인용 -->
        SELECT no,
        member_id,
        password,
        name,
        nickname,
        email,
        phone,
        birth_date,
        gender,
        postcode,
        address,
        detail_address,
        role,
        profile_image,
        last_login_date,
        agree_terms_yn,
        agree_privacy_yn,
        regdate
        FROM member
        WHERE email = #{email}
        <!-- 이메일이 이미 존재하는지 확인 -->
    </select>

    <insert id="signup" parameterType="SignupDto">
        <!-- id는 MemberDao의 signup 메서드명과 일치해야 함. / parameterType은 회원가입 폼 값을 담은 SignupDto -->
        INSERT INTO member (
        member_id,
        password,
        name,
        nickname,
        email,
        phone,
        birth_date,
        gender,
        postcode,
        address,
        detail_address,
        role,
        agree_terms_yn,
        agree_privacy_yn
        )
        VALUES (
        #{memberId},
        #{password},
        #{name},
        #{nickname},
        #{email},
        #{birthDate},
        #{gender},
        #{postcode},
        #{address},
        #{detailAddress},
        'USER',
        #{agreeTermsYn},
        #{agreePrivacyYn}
        )
    </insert>

</mapper>